<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- There should be a file called SharedConfiguration.config in the folder /Configuration. -->
	<!-- If you have not configured it there should be an original file in the same folder called SharedConfiguration.original.config. -->
	<connectionStrings configSource="SharedConfiguration.config" />

</configuration>